@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Root */
:root {
    --white: #fff;
    --hover: #e9afa3;
    --primary-color: #e9afa3;
    --animate-speed: 1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /*    overflow:hidden;*/
}

a {
    text-decoration: none;
    color: #fff;
}

/* Utility Classes */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.primary-color {
    color: var(--primary-color);
}

.logo {
    color: #fff;
    text-transform: uppercase;
}

.btn {
    background: var(--primary-color);
    padding: 1rem 2.5rem;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover {
    color: var(--primary-color);
    background: #fff;
    transition: 0.2s ease-in-out;
}

/* Nav */
#nav {
    z-index: 1;
    background: #3A405A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 1.6rem;
}

#nav .logo {
    font-size: 2rem;
}

#nav .menu-but {
    display: none;
}

#nav ul {
    list-style: none;
    display: flex;
}

#nav ul li a {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
}

#nav ul li a:hover {
    background: var(--white);
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

/* Header */
#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg);
    height: 92.9vh;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: row;
}

#header .social-media {
    display: flex;
    flex-direction: column;
    flex: 0.05;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    /*
    animation: social var(--animate-speed) forwards ease-in;
    transform: translateX(-100px);
*/
}

#header .social-media i {
    margin: 1.5rem 0;
}

#header .social-media i:hover {
    color: var(--primary-color);
    transition: 0.1s ease-in-out;
}

#header .header-content {
    flex: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*    animation: header 2s forwards ease-in;*/
    /*    transform: translateY(-1500px);*/
}

#header .header-content h1 {
    font-size: 2.7rem;
    margin-top: -5rem;
    margin-bottom: 0.5rem;
}

#header .header-content p {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

#jobs #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem 0;
}

#jobs img {
    width: 250px;
    padding: 0 3rem;
}

#fordeler-side {
    background: #3A405A;
    padding: 3rem;
    color: #fff;
}

#fordeler-side h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
}


#fordeler-side .fordeler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#fordeler-side .fordeler {
    padding: 1rem 4rem;
    letter-spacing: 1.1;
    line-height: 1.5;
}

#fordeler-side .fordeler i {
    color: var(--primary-color);
    padding-bottom: 0.7rem;
}

#fordeler-side .fordeler p {
    max-width: 95%;
}

#footer {
    padding: 2rem;
    text-align: center;
    font-size: 1.3rem;
}

#footer p {
    padding: 1rem 0;
}

#footer a:hover {
    color: #000;
    transition: 0.2s ease-in-out;
}

#footer .social i {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem 2rem;
}

#footer .social i:hover {
    color: #000;
    transition: 0.2s ease-in-out;
}

/*
@keyframes social {
    to {
        transform: translateX(0px);
    }
}

@keyframes header {
    to {
        transform: translateY(0px);
        overflow: visible;
    }
}*/
